# Django Settings
SECRET_KEY=<insert_secret_key_here>
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database Settings
DB_NAME=takhtit_db
DB_USER=takhtit_user
DB_PASSWORD=<insert_db_password_here>
DB_HOST=db
DB_PORT=5432
